<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <%= live_title_tag assigns[:page_title] || "Level10" %>
    <%= csrf_meta_tag() %>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="manifest" href={Routes.static_path(@conn, "/site.webmanifest")} />
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>
  <body class={hide_overflow("select-none bg-violet-800", assigns)}>
    <%= @inner_content %>
  </body>
</html>
