<main id="main" role="main" class="flex flex-col sm:px-6 lg:px-8">
  <.flash kind={:info} flash={@flash} />
  <.flash kind={:error} flash={@flash} />
  <.flash
    id="disconnected"
    kind={:error}
    close={false}
    autoshow={false}
    phx-disconnected={show("#disconnected")}
    phx-connected={hide("#disconnected")}
  >
    Attempting to reconnect <Heroicons.arrow_path class="ml-1 w-3 h-3 inline animate-spin" />
  </.flash>
  <%= @inner_content %>
</main>
