Hi <%= @user.username %>!

Someone requested to change the email address associated with your Level 10 account. It hasn't been changed yet. If you'd like to confirm the change, you can do that by visiting the URL below:

<%= @url %>

If you didn't try to change your email address, please reply to this email and let me know as soon as possible so that I can show those hackers what's up.

Thanks,
Dennis from Level 10
