Hi <%= @user.username %>!

You're almost ready to play Level 10! You just need to confirm your email address by visiting the URL below so that we know it's really you:

<%= @url %>

If you didn't create an account with Level 10, feel free to ignore this email.

Thanks,
Dennis from Level 10
