Hi <%= @user.username %>!

Someone requested to reset the password for your Level10 account. It hasn't been changed yet.

If you'd like to reset it, you can do that using the link below:

<%= @url %>

If you didn't ask to reset your password, please let me know as soon as possible by replying to this email so that I can show those hackers what's up.

Thanks,
Dennis from Level 10
