@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

[x-cloak] {
  display: none !important;
}

body {
  -webkit-tap-highlight-color: transparent;
  font-family: 'Nunito', serif;
}

#main {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

iframe[hidden] {
  display: none;
}

@layer utilities {
  .text-shadow-red-600 { --tw-text-shadow-color: #dc2626; }
  .text-shadow-violet-400 { --tw-text-shadow-color: rgba(139, 92, 246, 0.5); }
  .text-shadow-violet-300 { --tw-text-shadow-color: rgba(196,181,253, 0.25); }

  .text-shadow-md {
    text-shadow: 0em 0.25em 0.25em var(--tw-text-shadow-color);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

