@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

[x-cloak] {
  display: none !important;
}

body {
  -webkit-tap-highlight-color: transparent;
}

#main {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

iframe[hidden] {
  display: none;
}
