<div class="px-4 py-8 leading-normal text-violet-100">
  <h1 class="font-extrabold text-2xl mb-2 text-violet-200">SMS Terms and Conditions</h1>
  <p class="text-sm text-violet-400 mb-8">Effective Date: September 2, 2026</p>
  <p>
    These terms and conditions apply to messages sent to and from Dennis Beatty
    DBA Level 10.
  </p>

  <h2 class="font-bold text-xl my-6 text-violet-200">Message content</h2>
  <p>
    Level 10 can send you text messages containing account verification codes
    and game notifications including turn notifications and new round
    notifications.
  </p>

  <h2 class="font-bold text-xl my-6 text-violet-200">Consent</h2>
  <p>
    You can cancel the SMS service at any time. Just text "STOP". After you send
    the SMS message "STOP" to us, we will send you an SMS message to confirm
    that you have been unsubscribed. After this, you will no longer receive SMS
    messages from us. If you want to join again, send the SMS message "START"
    and we will start sending SMS messages to you again.
  </p>

  <h2 class="font-bold text-xl my-6 text-violet-200">Assistance</h2>
  <p>
    If you are experiencing issues with the messaging program you can reply with
    the keyword HELP for more assistance, or you can get help directly at
    support@level10.games.
  </p>

  <h2 class="font-bold text-xl my-6 text-violet-200">Carrier liability</h2>
  <p>Carriers are not liable for delayed or undelivered messages.</p>

  <h2 class="font-bold text-xl my-6 text-violet-200">Rates</h2>
  <p>
    As always, message and data rates may apply for any messages sent to you
    from us and to us from you. Message frequency varies. If you have any
    questions about your text plan or data plan, it is best to contact your
    wireless provider.
  </p>

  <h2 class="font-bold text-xl my-6 text-violet-200">Data privacy</h2>
  <p>
    If you have any questions regarding privacy, please read our <a
    href="/privacy-policy">privacy policy</a>.
  </p>
</div>
